@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url("../fonts/HelveticaNeueCyr-Thin.eot");
  src: url("../fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin") format("svg"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.body {
  width: 100%;
  height: 100%;
  font-family: 'HelveticaNeueCyr-Thin';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topfix {
  width: 100%;
  border: 1px solid #fff;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px 15px 0px 10px;
  z-index: 10;
}

.flextop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kavichkilogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'HelveticaNeueCyr-Thin';
}

.kavichki1 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 28px;
}

.kavichki2 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
}

.kavichki3 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
}

.kavichki4 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
}

.kavichki5 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
}

.kavichki6 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 28px;
}

.logo {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 30px;
  padding: 0px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logobutton {
  color: #000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.kavichkilogo:hover {
  text-shadow: 0 0 15px #000, 0 0 15px #000;
}

.kavichkilogo:active {
  text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
}

.name {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 5px 0 10px;
}

.phone1 {
  background-size: contain;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  padding: 5px 0 5px 0;
}

.phone11 {
  max-height: 40px;
  max-width: 40px;
  background-size: contain;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
}

.phone11:hover {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.phone11:active {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 1px solid rgba(1, 1, 1, 0.5);
}

.bodyfile {
  background-color: #fff;
  padding: 90px 20px 30px 20px;
}

@media (min-width: 319px) and (max-width: 415px) {
  .name {
    font-family: 'HelveticaNeueCyr-Thin';
    font-size: 18px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 5px 0 10px;
    color: #fff;
  }
}

.logotext1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo_fon {
  padding: 0 15px;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 400px;
}

.icon {
  background-color: #fff;
}

.icon_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack:justify-content;
-webkit-justify-content: space-around;
justify-content: space-around;
-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;
*/
}

.flex_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.icon_flex {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  padding: 0px;
  border-radius: 50%;
}

.icon_flex:hover {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 5px solid rgba(1, 1, 1, 0.5);
}

.icon_flex:active {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.qwerty {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icon_colomn_name {
  font-family: 'HelveticaNeueCyr-Thin';
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px 0;
}

.icon_colomn_text {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 14px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 150px;
}

/*родитель*/
.firstpage {
  width: 100%;
  height: 800px;
}

body {
  background-image: url("../img/fon2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

body:before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-image: inherit;
  background-size: cover;
}

/*контейнер*/
.firspage_map {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.firstpage_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstpage_item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon1 {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon11 {
  padding: 25px;
  border-radius: 50%;
}

.icon1:hover {
  -webkit-box-shadow: 0 0 50px #ffb111,inset 0 0 100px #ffb111;
          box-shadow: 0 0 50px #ffb111,inset 0 0 100px #ffb111;
  border: 5px solid rgba(255, 177, 17, 0.4);
}

.icon1:active {
  -webkit-box-shadow: 0 0 20px #ffb111, inset 0 0 100px #ffb111;
          box-shadow: 0 0 20px #ffb111, inset 0 0 100px #ffb111;
  border: 0px solid rgba(255, 177, 17, 0.4);
}

.link {
  border: 0px solid rgba(255, 177, 17, 0.4);
}

.predlozjeniya_parent {
  background-color: #fff;
  width: 100%;
  padding: 0 0px 50px 0px;
}

.predlozheniya_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0 0px 0;
}

/*

@media (max-width: 1200px){
	.predlozheniya_contain{
		max-width: 768px;
	}
}

@media (max-width: 780px){
	.predlozheniya_contain{
		max-width: 768px;
	}
}

@media (max-width: 500px){
	.predlozheniya_contain{
		max-width: 450px;
	}
}

@media (max-width: 450px){
	.predlozheniya_contain{
		max-width: 400px;
	}
}


*/
.fotocont {
  height: 100%;
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  border-radius: 50%;
}

.predlozhenie1 {
  padding: 50px 5px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foto1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.kontent1name {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 15px 0 0 0;
}

.kontent1 {
  padding: 20px 0px 0px 0px;
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 14px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  text-align: center;
  width: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  word-spacing: 3px;
}

.fotocont:hover {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 6px solid rgba(1, 1, 1, 0.5);
}

.fotocont:active {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.prokomp_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 0 0;
}

.prokomp {
  padding: 10px 2.5px 30px 2.5px;
  min-width: 320px;
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: 'HelveticaNeueCyr-Thin';
  word-spacing: 5px;
  line-height: 38px;
}

.prokomp span {
  display: inline;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 26px;
  border-radius: 10px;
  padding: 6px 2px;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  -webkit-box-shadow: 0 0 0px #000;
          box-shadow: 0 0 0px #000;
  line-height: 0px;
}

.prokomp .span1 {
  font-size: 40px;
  font-weight: 600;
  padding: 5px 4px;
}

/*
.ukr{
	display: flex;
	justify-content: center;
	background-color: #000;
	padding: 60px 20px 100px 20px;
	border-radius: 30px;

}
*/
.ukr0 {
  -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
          box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.galereya_patern {
  width: 100%;
  height: auto;
  background-color: #000;
}

.galereya_patern_galereya_contain1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galereya_contain1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galereya_contain2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containe_patern {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.containe_patern_flex {
  padding: 20px;
  max-width: 500px;
}

.podpis_containe_patern_flex {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 0px 10px 30px 10px;
}

.kontakt {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
}

.kontakt_patern {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: auto;
}

.kontakt_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kontakt_flex_el_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.gorod {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 20px 0;
}

.nomer {
  font-weight: 550;
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.kontakt_flex_el_2 {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0px 40px 0;
}

.facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.facebook_icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.facebook_icon_logo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.facebook_text {
  padding: 15px 5px 0 5px;
  text-align: center;
}

.insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.insta_icon {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.insta_icon_logo {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.insta_text {
  padding: 15px 5px 0 5px;
  text-align: center;
}

.gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gmail_icon {
  border-radius: 15px;
  width: 50px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gmail_icon_logo {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.gmail_text {
  padding: 15px 5px 0 5px;
  text-align: center;
}

.telega {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.telega_icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.telega_icon_logo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.telega_text {
  padding: 15px 5px 0 5px;
  text-align: center;
}

.facebook_icon_logo:hover {
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.facebook_icon_logo:active {
  -webkit-box-shadow: 0 0 0px #000;
          box-shadow: 0 0 0px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.insta_icon_logo:hover {
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.insta_icon_logo:active {
  -webkit-box-shadow: 0 0 0px #000;
          box-shadow: 0 0 0px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.gmail_icon_logo:hover {
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.gmail_icon_logo:active {
  -webkit-box-shadow: 0 0 0px #000;
          box-shadow: 0 0 0px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.telega_icon_logo:hover {
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.telega_icon_logo:active {
  -webkit-box-shadow: 0 0 0px #000;
          box-shadow: 0 0 0px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.fotocont:hover {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 6px solid rgba(1, 1, 1, 0.5);
}

.fotocont:active {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.phone {
  color: #000;
  padding: 3px;
}

.phone:hover {
  color: red;
}

.karta {
  background-color: rgba(255, 255, 255, 0.04);
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.karta_flex {
  padding: 30px;
}

.karta_flex_el {
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.developer {
  width: 100%;
  height: auto;
}

.developer_patern {
  width: 100%;
  height: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.developer_contain {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.developer_el {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 16px;
}
/*# sourceMappingURL=scss_obnulenie.css.map */