*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/

@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url('../fonts/HelveticaNeueCyr-Thin.eot');
  src: url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin') format('svg'),
       url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'),
       url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
       url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



















.body{
	width: 100%;
	height: 100%;
	font-family: 'HelveticaNeueCyr-Thin';
	display: flex;
	flex-direction: column;
}

body{
	background-color: #000;
    //background-image: url('../img/sound_fon_test.png');
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: auto 80%;
    -webkit-background-size: auto 80%; 
    -moz-background-size: auto 80%; 
    -o-background-size: auto 80%; 
    background-attachment: fixed;
    z-index: -1;

}
body:before{
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 40%;
    background-image:url('../img/sound_fon_test.png');
    background-repeat: no-repeat;
    -webkit-background-size: auto 80%;
    -o-background-size: auto 80%;
    background-size: auto 80%;
}


@media (min-width: 319px) and (max-width: 415px){
	body{
	background-color: #000;
    //background-image: url('../img/sound_fon_test.png');
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: auto 80%;
    -webkit-background-size: auto 80%; 
    -moz-background-size: auto 80%; 
    -o-background-size: auto 80%; 
    background-attachment:fixed;
    z-index: -1;
}
	body:before{
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 70%;
    background-image: url('../img/sound_fon_test.png');
    background-repeat: no-repeat;
    -webkit-background-size: auto 80%;
    -o-background-size: auto 80%;
    background-size: auto 80%;
	}
}
@media (min-width: 666px) and (max-width: 800px){
	body{
	background-color: #000;
    //background-image: url('../img/sound_fon_test.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: auto 80%;
    -webkit-background-size: auto 80%; 
    -moz-background-size: auto 80%; 
    -o-background-size: auto 80%; 
    background-attachment:fixed;
    z-index: -1;
}
	body:before{
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 100%;
    background-image: url('../img/sound_fon_test.png');
    background-repeat: no-repeat;
    -webkit-background-size: auto 80%;
    -o-background-size: auto 80%;
    background-size: auto 80%;
	}
}



































.topfix {
	width: 100%;
	//display: flex;
	border: 1px solid #000;
	position: fixed;
	background-color: rgba(255,255,255,0.95);
	padding: 5px 15px 0px 10px;
	z-index: 10;
	background-color: #000;
}

.flextop{
	display: flex;
	//flex-direction: space-around;
}









.kavichkilogo{
	display: flex;
	font-family: 'HelveticaNeueCyr-Thin';
	color: #fff;

}
.kavichki1 {
	font-family: 'HelveticaNeueCyr-Thin';
	align-self: center;
	font-size: 28px;
}
.kavichki2 {
	font-family: 'HelveticaNeueCyr-Thin';
	align-self: center;
	font-size: 20px;
}
.kavichki3 {
	font-family: 'HelveticaNeueCyr-Thin';
	align-self: center;
	font-size: 15px;
}
.kavichki4 {
	font-family: 'HelveticaNeueCyr-Thin';
	align-self: center;
	font-size: 15px;
}
.kavichki5 {
	font-family: 'HelveticaNeueCyr-Thin';
	align-self: center;
	font-size: 20px;
}
.kavichki6 {
	font-family: 'HelveticaNeueCyr-Thin';
	align-self: center;
	font-size: 28px;
}
.logo {
	font-family:'HelveticaNeueCyr-Thin';
	font-size: 30px;
	padding: 0px 10px;
	align-self: center;
}

.logobutton{
	color: #000;
	align-self: center;
}


.kavichkilogo:hover{
	text-shadow: 0 0 15px #000,
	0 0 15px #000,;

}
.kavichkilogo:active{
	text-shadow: 0 0 10px #000,
	0 0 10px #000,
	0 0 10px #000;
}

.name {
	font-family:'HelveticaNeueCyr-Thin';
	font-size: 25px;
	align-self: center;
	flex: 1 1 auto;
	padding: 0 5px 0 10px;
	color: #fff;
}


@media (min-width: 319px) and (max-width: 415px){
	.name {
	font-family:'HelveticaNeueCyr-Thin';
	font-size: 18px;
	align-self: center;
	flex: 1 1 auto;
	padding: 0 5px 0 10px;
	color: #fff;
	}
}

.phone1{
	background-size: contain;
	align-self: center;
	border-radius: 50%;
	padding: 5px 0 5px 0;
}


.phone11 {
	max-height: 40px;
	max-width: 40px;
	background-size: contain;
	align-self: center;
	border-radius: 50%;
}

.phone11:hover{
	box-shadow: 0 0 10px #000;
	border: 3px solid rgba(1,1,1,0.5);
}
.phone11:active{
	box-shadow: 0 0 10px #000;
	border: 1px solid rgba(1,1,1,0.5);
}
















.block{
	padding: 900px 0 0 0;
	width: 100%;
	height: 100%;
	//border: 1px solid #900;
}

/*
.logo_center_contain {
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo_center{
	width: 100%;
	height: auto;
	max-width: 500px;
	padding: 0 15px 0 15px;
	//align-self: center;
}
*/



.sound_patern {
	width: 100%;
	//display: flex;
	//flex-direction: column;
}

.zagolovok{
	font-family:'HelveticaNeueCyr-Thin';
	font-size: 45px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-self: center;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 50px 0 20px 0;
	flex-direction: row;
}

.podzagolovok {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
}
.podzagolovok_text {
	font-family:'HelveticaNeueCyr-Thin';
	font-size: 20px;
	color: #fff;
	align-self: center;
	max-width: 900px;
	text-align: center;
	padding: 0px 15px 50px 15px;
}



.sound_contain {
	width: 100%;
	height: 100%;
	//border: 10px solid #990;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0px 0 0px 0;
	background-color: rgba(0, 0, 0, 0.9);
}
.sound_contain1 {
	width: 100%;
	height: 100%;
	//border: 10px solid #990;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0px 0px 0px 0px;
	background-color: rgba(0, 0, 0, 0.9);
}

.sound_el1 {
	padding: 20px 10px 0 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.sound_el2 {
	padding: 20px 10px 0 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.sound_el3 {
	padding: 20px 10px 0 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.sound_el4 {
	padding: 20px 10px 0 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}



.sound_img {
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	border-radius: 50%;
	align-self: center;
}

.sound_name {
	font-family:'HelveticaNeueCyr-Thin';
	font-size: 20px;
	color: #fff;
	align-self: center;
	padding: 10px;
	text-align: center;
}
.sound_text {
	font-family:'HelveticaNeueCyr-Thin';
	font-size: 14px;
	color: #fff;
	align-self: center;
	max-width: 150px;
	flex: 1 1 auto;
	text-align: center;
}
span{
	color: #000;
}



.measurements_patern {
	font-family:'HelveticaNeueCyr-Thin';
	font-size: 20px;
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.9);
}
.measurements_contain {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.measurements_name {
	align-self: center;
	color: #fff;
	font-size: 30px;
	padding: 30px 10px 30px 10px;
}
.measurements_img {
	padding: 0 10px 0 10px;
	width: 100%;
	max-width: 500px;
	align-self: center;
	//border: 10px solid #f0f
}
.measurements_text {
	padding: 30px 10px 50px 10px;
	max-width: 900px;
	align-self: center;
	color: #fff;
	text-align: justify;
}



























.kontakt {
	width: 100%;
	height: auto;
	padding: 0px 0px 0px 0px;
	//border: 10px solid #050;
}
.kontakt_patern {
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: auto;
	//border-radius: 20px;
}
.kontakt_contain {
	display: flex;
	flex-direction: column;
}
.kontakt_flex_el_1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0
}
.gorod { 
	font-family: 'HelveticaNeueCyr-Thin';
	font-size: 30px;
	justify-content: center;
	padding: 0 0 20px 0;
}
.nomer {
	font-weight: 550;
	font-family: 'HelveticaNeueCyr-Thin';
	font-size: 25px;
	justify-content: center;
	text-align: center;

}


.kontakt_flex_el_2 {
	font-family: 'HelveticaNeueCyr-Thin';
	font-size:14px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 0px 40px 0;
}
.facebook {
	display: flex;
	flex-direction: column;
}
.facebook_icon {
	//border: 1px solid #000;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	align-self: center;
}
.facebook_icon_logo{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.facebook_text {
	padding: 15px 5px 0 5px;
	text-align: center;
}

.insta {
	display: flex;
	flex-direction: column;
}
.insta_icon {
	//border: 1px solid #000;
	border-radius: 15px;
	width: 50px;
	height: 50px;
	align-self: center;
}
.insta_icon_logo{
	border-radius: 15px;
	width: 100%;
	height: 100%;
}
.insta_text {
	padding: 15px 5px 0 5px;
	text-align: center;

}



.gmail {
	display: flex;
	flex-direction: column;
}
.gmail_icon {
	//border: 1px solid #000;
	border-radius: 15px;
	width: 50px;
	height: auto;
	align-self: center;
}
.gmail_icon_logo{
	border-radius: 15px;
	width: 100%;
	height: 100%;
}
.gmail_text {
	padding: 15px 5px 0 5px;
	text-align: center;

}


.telega {
	display: flex;
	flex-direction: column;
}
.telega_icon {
	//border: 1px solid #000;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	align-self: center;
}
.telega_icon_logo{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.telega_text {
	padding: 15px 5px 0 5px;
	text-align: center;

}


.facebook_icon_logo:hover{
	box-shadow: 0 0 2px #000;
	border: 3px solid rgba(1,1,1,0.5); 
}
.facebook_icon_logo:active{
	box-shadow: 0 0 0px #000;
	border: 1px solid rgba(255,255,255,0.5);
}
.insta_icon_logo:hover{
	box-shadow: 0 0 2px #000;
	border: 3px solid rgba(1,1,1,0.5); 
}
.insta_icon_logo:active{
	box-shadow: 0 0 0px #000;
	border: 1px solid rgba(255,255,255,0.5);
}
.gmail_icon_logo:hover{
	box-shadow: 0 0 2px #000;
	border: 3px solid rgba(1,1,1,0.5); 
}
.gmail_icon_logo:active{
	box-shadow: 0 0 0px #000;
	border: 1px solid rgba(255,255,255,0.5);
}
.telega_icon_logo:hover{
	box-shadow: 0 0 2px #000;
	border: 3px solid rgba(1,1,1,0.5); 
}
.telega_icon_logo:active{
	box-shadow: 0 0 0px #000;
	border: 1px solid rgba(255,255,255,0.5);
}





.fotocont:hover{
	box-shadow: 0 0 10px #000;
	border: 6px solid rgba(1,1,1,0.5);
}
.fotocont:active{
	box-shadow: 0 0 10px #000;
	border: 3px solid rgba(0,0,0,0.5);
}

.phone{
	color: #000;
	padding: 3px;
}
.phone:hover{
	color: red;
}



/*
.karta {
background-color: rgba(255,255,255,0.04);
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.karta_flex {
	padding: 30px;
}
.karta_flex_el{
	width: 100%;
	height: 100%;
	max-width: 600px;
}
<img class="karta_flex_el" src="img/ukr1.png" alt="">
*/

.developer {
	width: 100%;
	height: auto;
}
.developer_patern {
	width: 100%;
	height: 100;
	display: flex;
	justify-content: center;
}
.developer_contain {
	align-items: center;
	padding: 20px
}
.developer_el {
	font-family: 'HelveticaNeueCyr-Thin';
	font-size: 16px;
}



