* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url("../fonts/HelveticaNeueCyr-Thin.eot");
  src: url("../fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin") format("svg"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.body {
  width: 100%;
  height: 100%;
  font-family: 'HelveticaNeueCyr-Thin';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*
body{
	background-color: #000;
    //background-image: url('../img/fon_light_1');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-attachment: fixed;
    z-index: -1;

}
body:before{
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 50%;
    background-image:url('../img/fon_light_6.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/
.body_slides {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: -2;
  background: #000;
}

.body_slides,
.body_slides:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.body_slides:after {
  content: '';
  background: transparent url(images/pattern.png);
  background-position: 50%;
}

.body_slides li {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: anim_slides 36s linear infinite 0s;
  animation: anim_slides 36s linear infinite 0s;
}

.body_slides li:nth-child(1) {
  background-image: url("../img/fon_light_6.jpg");
  background-position: 50% 60%;
}

.body_slides li:nth-child(2) {
  -webkit-animation-delay: 6.0s;
  -moz-animation-delay: 6.0s;
  background-image: url("../img/fon_light_2.jpg");
  background-position: 50% 50%;
}

.body_slides li:nth-child(3) {
  -webkit-animation-delay: 12.0s;
  -moz-animation-delay: 12.0s;
  background-image: url("../img/fon_light_3.jpg");
  background-position: 50% 60%;
}

.body_slides li:nth-child(4) {
  -webkit-animation-delay: 18.0s;
  -moz-animation-delay: 18.0s;
  background-image: url("../img/fon_light_1.jpg");
  background-position: 50% 60%;
}

.body_slides li:nth-child(5) {
  -webkit-animation-delay: 24.0s;
  -moz-animation-delay: 24.0s;
  background-image: url("../img/fon_light_4.jpg");
  background-position: 50% 50%;
}

.body_slides li:nth-child(6) {
  -webkit-animation-delay: 30.0s;
  -moz-animation-delay: 30.0s;
  background-image: url("../img/fon_light_5.jpg");
  background-position: 50% 60%;
}

@-webkit-keyframes anim_slides {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*
@media (min-width: 319px) and (max-width: 415px){
	body{
	background-color: #000;
    //background-image: url('../img/sound_fon_test.png');
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: auto 80%;
    -webkit-background-size: auto 80%; 
    -moz-background-size: auto 80%; 
    -o-background-size: auto 80%; 
    background-attachment:fixed;
    z-index: -1;
}
	body:before{
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 70%;
    background-image: url('../img/sound_fon_test.png');
    background-repeat: no-repeat;
    -webkit-background-size: auto 80%;
    -o-background-size: auto 80%;
    background-size: auto 80%;
	}
}
@media (min-width: 666px) and (max-width: 800px){
	body{
	background-color: #000;
    //background-image: url('../img/sound_fon_test.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: auto 80%;
    -webkit-background-size: auto 80%; 
    -moz-background-size: auto 80%; 
    -o-background-size: auto 80%; 
    background-attachment:fixed;
    z-index: -1;
}
	body:before{
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 100%;
    background-image: url('../img/sound_fon_test.png');
    background-repeat: no-repeat;
    -webkit-background-size: auto 80%;
    -o-background-size: auto 80%;
    background-size: auto 80%;
	}
}
*/
.topfix {
  width: 100%;
  border: 1px solid #000;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px 15px 0px 10px;
  z-index: 10;
  background-color: #000;
}

.flextop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kavichkilogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'HelveticaNeueCyr-Thin';
  color: #fff;
}

.kavichki1 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 28px;
}

.kavichki2 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
}

.kavichki3 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
}

.kavichki4 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
}

.kavichki5 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
}

.kavichki6 {
  font-family: 'HelveticaNeueCyr-Thin';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 28px;
}

.logo {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 30px;
  padding: 0px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logobutton {
  color: #000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.kavichkilogo:hover {
  text-shadow: 0 0 15px #fff, 0 0 15px #fff;
}

.kavichkilogo:active {
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

.name {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 5px 0 10px;
  color: #fff;
}

@media (min-width: 319px) and (max-width: 415px) {
  .name {
    font-family: 'HelveticaNeueCyr-Thin';
    font-size: 18px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 5px 0 10px;
    color: #fff;
  }
}

.phone1 {
  background-size: contain;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  padding: 5px 0 5px 0;
}

.phone11 {
  max-height: 40px;
  max-width: 40px;
  background-size: contain;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
}

.phone11:hover {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.phone11:active {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.logo_center_contain {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_center {
  width: 100%;
  height: auto;
  max-width: 500px;
  padding: 0 15px 0 15px;
}

.light_patern {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.zagolovok {
   font-family: 'HelveticaNeueCyr-Thin';
  font-size: 45px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 50px 0 20px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.podzagolovok {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.podzagolovok_text {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 20px;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 900px;
  text-align: center;
  padding: 0px 15px 50px 15px;
}

.light_contain {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0 0px 0;
}

.light_contain1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px 0px 0px;
}

.light_el1 {
  padding: 20px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.light_el2 {
  padding: 20px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.light_el3 {
  padding: 20px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.light_el4 {
  padding: 20px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.light_img {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.light_name {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 20px;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
  text-align: center;
}

.light_text {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 14px;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 150px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.visual_patern {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 20px;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.01);
}

.visual_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.visual_name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-size: 30px;
  padding: 30px 10px 30px 10px;
}

.visual_img {
  padding: 0 10px 0 10px;
  width: 100%;
  max-width: 700px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.visual_text {
  padding: 30px 10px 50px 10px;
  max-width: 900px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  text-align: justify;
}

.kontakt {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
}

.kontakt_patern {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: auto;
}

.kontakt_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kontakt_flex_el_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.gorod {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 20px 0;
}

.nomer {
  font-weight: 550;
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.kontakt_flex_el_2 {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0px 40px 0;
}

.facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.facebook_icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.facebook_icon_logo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.facebook_text {
  padding: 15px 5px 0 5px;
  text-align: center;
}

.insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.insta_icon {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.insta_icon_logo {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.insta_text {
  padding: 15px 5px 0 5px;
  text-align: center;
}

.gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gmail_icon {
  border-radius: 15px;
  width: 50px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gmail_icon_logo {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.gmail_text {
  padding: 15px 5px 0 5px;
  text-align: center;
}

.telega {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.telega_icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.telega_icon_logo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.telega_text {
  padding: 15px 5px 0 5px;
  text-align: center;
}

.facebook_icon_logo:hover {
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.facebook_icon_logo:active {
  -webkit-box-shadow: 0 0 0px #000;
          box-shadow: 0 0 0px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.insta_icon_logo:hover {
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.insta_icon_logo:active {
  -webkit-box-shadow: 0 0 0px #000;
          box-shadow: 0 0 0px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.gmail_icon_logo:hover {
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.gmail_icon_logo:active {
  -webkit-box-shadow: 0 0 0px #000;
          box-shadow: 0 0 0px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.telega_icon_logo:hover {
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  border: 3px solid rgba(1, 1, 1, 0.5);
}

.telega_icon_logo:active {
  -webkit-box-shadow: 0 0 0px #000;
          box-shadow: 0 0 0px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.fotocont:hover {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 6px solid rgba(1, 1, 1, 0.5);
}

.fotocont:active {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.phone {
  color: #000;
  padding: 3px;
}

.phone:hover {
  color: red;
}

/*
.karta {
background-color: rgba(255,255,255,0.04);
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.karta_flex {
	padding: 30px;
}
.karta_flex_el{
	width: 100%;
	height: 100%;
	max-width: 600px;
}
<img class="karta_flex_el" src="img/ukr1.png" alt="">
*/
.developer {
  width: 100%;
  height: auto;
}

.developer_patern {
  width: 100%;
  height: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.developer_contain {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.developer_el {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 16px;
}
/*# sourceMappingURL=scss_obnulenie.css.map */